center
    h1 Courses offered at Make School 
br
div
    center 
        input#courseSearch(type='search', placeholder='Search')
        button.search Search
br
.row
    div(ng-repeat='course in courses')
        h4 {{course.title}}
        p Teacher: {{course.teacher}}
        p Description: {{course.description}}
        p Credits: {{course.credits}}
        p Duration: {{course.duration}}
        button.signup Sign Up
        br
        br
